body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  border:0.5px solid black;
}

button {
  font-size: 10px;
  display: block;
  clear: both;
  margin-top: 10px;
}